.directions{
    padding:5%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.inline_code{
    background-color: black;
    color:white;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: monospace;
}